@{ 
    ViewData["Title"] = "Order Completed";
}

<h1>Thank You for your Purchase</h1>

<p>Your payment has been successfully received. Your order number is <strong>#@ViewBag.OrderId</strong>.</p>

<p>We will ship your products to your shipping address as soon as possible.</p>